doctype html
html[lang="en"]
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    title
      | Blog Right Sidebar - BIGBAG Store
    = stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all"
  body
    .main-wrapper
      .header.clearfix
        .topBar
          .container
            .row
              .col-md-6.hidden-sm.hidden-xs
                ul.list-inline
                  li
                    a[href="#"]
                      i.fa.fa-twitter
                  li
                    a[href="#"]
                      i.fa.fa-facebook
              .col-md-6.col-xs-12
                ul.list-inline.pull-right
                  li

                  li.dropdown.searchBox
                    a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown"]
                      i.fa.fa-search
                    ul.dropdown-menu.dropdown-menu-right

                    form#form01[action="product-grid-left-sidebar.html" method="post"]

                  li
                    span.input-group
                      input.form-control[type="text" name="searchWord" placeholder="Search…" aria-describedby="basic-addon2"]
                      span#basic-addon2.input-group-addon.addPointer[onclick="FormSubmit();"]
                        | 検索
                li.dropdown
                  a.dropdown-toggle[href="cart-page.html" data-toggle="dropdown disabled"]
                    i.fa.fa-shopping-cart
        nav.navbar.navbar-main.navbar-default[role="navigation"]
          .container
            .navbar-header
              button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"]
                span.sr-only
                  | Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand[href="index.html"]
                = image_tag("img/logo.png", :alt => "")
            .collapse.navbar-collapse.navbar-ex1-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a[href="index.html"]
                    | Home
                li.dropdown.megaDropMenu
                  a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false"]
                    | Shop
                  ul.dropdown-menu.row
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Products Grid View
                        li
                          a[href="product_grid_left_sidebar.html"]
                            | Products Sidebar Left
                        li
                          a[href="product-grid-right-sidebar.html"]
                            | Products Sidebar Right
                        li
                          a[href="product-grid-3-col-filter.html"]
                            | Products 3 Columns V1
                        li
                          a[href="product-grid-3-col.html"]
                            | Products 3 Columns V2
                        li
                          a[href="product-grid-4-col.html"]
                            | Products 4 Columns
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Products List View
                        li
                          a[href="product_list_left_sidebar.html"]
                            | Products Sidebar Left
                        li
                          a[href="product-list-right-sidebar.html"]
                            | Products Sidebar Right
                        li.listHeading
                          | Others
                        li
                          a[href="single_product.html"]
                            | Single Product
                        li
                          a[href="cart_page.html"]
                            | Cart Page
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Checkout
                        li
                          a[href="checkout_step_1.html"]
                            | Step 1 - Address
                        li
                          a[href="checkout_step_2.html"]
                            | Step 2 - Shipping
                        li
                          a[href="checkout_step_3.html"]
                            | Step 3 - Payment
                        li
                          a[href="checkout_step_4.html"]
                            | Step 4 - Payment
                        li
                          a[href="checkout_complete.html"]
                            | Order Complete
                    li.col-sm-3.col-xs-12
                      a.menu-photo[href="#"]
                        = image_tag("img/menu-photo.jpg", :alt => "menu-img")
      section.lightSection.clearfix.pageHeader
        .container
          .row
            .col-xs-6
              .page-title
                h2
                  | Blog right sidebar
            .col-xs-6
              ol.breadcrumb.pull-right
                li
                  a[href="index.html"]
                    | Home
                li.active
                  | Blog right sidebar
      section.mainContent.clearfix.blogPage
        .container
          .row
            .col-md-9.col-sm-8.col-xs-12
              .row
                .col-xs-12
                  .thumbnail
                    = image_tag("img/blog/blog-01.jpg", :alt => "blog-image")
                    .caption
                      .row
                        .col-md-2.col-md-push-10.col-sm-4.col-sm-push-8.col-xs-12
                          h5
                            | Details
                          ul.list-unstyled
                            li
                              a[href="#"]
                                i.fa.fa-user[aria-hidden="true"]
                                | Adam Smith
                            li
                              i.fa.fa-calendar[aria-hidden="true"]
                              | Mar 20, 2016
                            li
                              a[href="#"]
                                i.fa.fa-tags[aria-hidden="true"]
                                | Travel
                            li
                              a[href="#"]
                                i.fa.fa-envelope[aria-hidden="true"]
                                | 8 comments
                        .col-md-10.col-md-pull-2.col-sm-8.col-sm-pull-4.col-xs-12
                          h3
                            a[href="#"]
                              | Praesent justo dolor, lobortis quis, lobortis dignissim
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                .col-xs-12
                  .thumbnail
                    #carousel-id.carousel.slide[data-ride="carousel"]
                      .carousel-inner
                        .item
                          = image_tag("img/blog/blog-02.jpg", :alt => "blog-image")
                        .item
                          = image_tag("img/blog/blog-02.jpg", :alt => "blog-image")
                        .item.active
                          = image_tag("img/blog/blog-02.jpg", :alt => "blog-image")
                      a.left.carousel-control[href="#carousel-id" data-slide="prev"]
                        span.glyphicon.glyphicon-chevron-left
                      a.right.carousel-control[href="#carousel-id" data-slide="next"]
                        span.glyphicon.glyphicon-chevron-right
                    .caption
                      .row
                        .col-md-2.col-md-push-10.col-sm-3.col-sm-push-9.col-xs-12
                          h5
                            | Details
                          ul.list-unstyled
                            li
                              a[href="#"]
                                i.fa.fa-user[aria-hidden="true"]
                                | Adam Smith
                            li
                              i.fa.fa-calendar[aria-hidden="true"]
                              | Mar 20, 2016
                            li
                              a[href="#"]
                                i.fa.fa-tags[aria-hidden="true"]
                                | Travel
                            li
                              a[href="#"]
                                i.fa.fa-envelope[aria-hidden="true"]
                                | 8 comments
                        .col-md-10.col-md-pull-2.col-sm-9.col-sm-pull-3.col-xs-12col-xs-12
                          h3
                            a[href="#"]
                              | Praesent justo dolor, lobortis quis, lobortis dignissim
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                .col-xs-12
                  .thumbnail
                    = image_tag("img/blog/blog-03.jpg", :alt => "blog-image")
                    .caption
                      .row
                        .col-md-2.col-md-push-10.col-sm-3.col-sm-push-9.col-xs-12
                          h5
                            | Details
                          ul.list-unstyled
                            li
                              a[href="#"]
                                i.fa.fa-user[aria-hidden="true"]
                                | Adam Smith
                            li
                              i.fa.fa-calendar[aria-hidden="true"]
                              | Mar 20, 2016
                            li
                              a[href="#"]
                                i.fa.fa-tags[aria-hidden="true"]
                                | Travel
                            li
                              a[href="#"]
                                i.fa.fa-envelope[aria-hidden="true"]
                                | 8 comments
                        .col-md-10.col-md-pull-2.col-sm-9.col-sm-pull-3.col-xs-12
                          h3
                            a[href="#"]
                              | Praesent justo dolor, lobortis quis, lobortis dignissim
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                .col-xs-12
                  .thumbnail
                    = image_tag("img/blog/blog-04.jpg", :alt => "blog-image")
                    .caption
                      .row
                        .col-md-2.col-md-push-10.col-sm-3.col-sm-push-9.col-xs-12
                          h5
                            | Details
                          ul.list-unstyled
                            li
                              a[href="#"]
                                i.fa.fa-user[aria-hidden="true"]
                                | Adam Smith
                            li
                              i.fa.fa-calendar[aria-hidden="true"]
                              | Mar 20, 2016
                            li
                              a[href="#"]
                                i.fa.fa-tags[aria-hidden="true"]
                                | Travel
                            li
                              a[href="#"]
                                i.fa.fa-envelope[aria-hidden="true"]
                                | 8 comments
                        .col-md-10.col-md-pull-2.col-sm-9.col-sm-pull-3.col-xs-12
                          h3
                            a[href="#"]
                              | Praesent justo dolor, lobortis quis, lobortis dignissim
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                .col-xs-12
                  .thumbnail
                    = image_tag("img/blog/blog-05.jpg", :alt => "blog-image")
                    .caption
                      .row
                        .col-md-2.col-md-push-10.col-sm-3.col-sm-push-9.col-xs-12
                          h5
                            | Details
                          ul.list-unstyled
                            li
                              a[href="#"]
                                i.fa.fa-user[aria-hidden="true"]
                                | Adam Smith
                            li
                              i.fa.fa-calendar[aria-hidden="true"]
                              | Mar 20, 2016
                            li
                              a[href="#"]
                                i.fa.fa-tags[aria-hidden="true"]
                                | Travel
                            li
                              a[href="#"]
                                i.fa.fa-envelope[aria-hidden="true"]
                                | 8 comments
                        .col-md-10.col-md-pull-2.col-sm-9.col-sm-pull-3.col-xs-12
                          h3
                            a[href="#"]
                              | Praesent justo dolor, lobortis quis, lobortis dignissim
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              .row
                .col-xs-12
                  .text-left
                    ul.pagination
                      li.active
                        a[href="#"]
                          | 1
                      li
                        a[href="#"]
                          | 2
                      li
                        a[href="#"]
                          | 3
                      li
                        a[href="#"]
                          | 4
                      li
                        a[href="#"]
                          | 5
                      li
                        a[href="#" aria-label="Next"]
                          span[aria-hidden="true"]
                            | »
            .col-md-3.col-sm-4.col-xs-12.sideBar
              .input-group
                input.form-control[type="text" placeholder="Search" aria-describedby="basic-addon2"]
                a#basic-addon2.input-group-addon[href="#"]
                  i.fa.fa-search
              .panel.panel-default
                .panel-heading
                  | categories
                .panel-body
                  ul.list-unstyle.sidebar-list
                    li
                      a[href="#"]
                        i.fa.fa-caret-right[aria-hidden="true"]
                        | Accessories 
                        span
                          | (6)
                    li
                      a[href="#"]
                        i.fa.fa-caret-right[aria-hidden="true"]
                        | Bag 
                        span
                          | (6)
                    li
                      a[href="#"]
                        i.fa.fa-caret-right[aria-hidden="true"]
                        | Cloths 
                        span
                          | (25)
                    li
                      a[href="#"]
                        i.fa.fa-caret-right[aria-hidden="true"]
                        | Bed & Bath 
                        span
                          | (2)
                    li
                      a[href="#"]
                        i.fa.fa-caret-right[aria-hidden="true"]
                        | Swimming costume 
                        span
                          | (5)
                    li
                      a[href="#"]
                        i.fa.fa-caret-right[aria-hidden="true"]
                        | Sport Tops & Shoes 
                        span
                          | (3)
              .panel.panel-default.recentBlogPosts
                .panel-heading
                  | recent posts
                .panel-body
                  .media
                    a.media-left[href="blog_single_right_sidebar.html"]
                      = image_tag("img/blog/blog-small-01.jpg", :class => "media-object", :alt => "Image")
                    .media-body
                      h4.media-heading
                        a[href="blog_single_right_sidebar.html"]
                          | Totam Rem Aperiam Ea queab Ipsa.
                      p
                        i.fa.fa-calendar[aria-hidden="true"]
                        | 5 March, 2016
                  .media
                    a.media-left[href="blog_single_right_sidebar.html"]
                      = image_tag("img/blog/blog-small-02.jpg", :class => "media-object", :alt => "Image")
                    .media-body
                      h4.media-heading
                        a[href="blog_single_right_sidebar.html"]
                          | Totam Rem Aperiam Ea queab Ipsa.
                      p
                        i.fa.fa-calendar[aria-hidden="true"]
                        | 5 March, 2016
                  .media
                    a.media-left[href="blog_single_right_sidebar.html"]
                      = image_tag("img/blog/blog-small-03.jpg", :class => "media-object", :alt => "Image")
                    .media-body
                      h4.media-heading
                        a[href="blog_single_right_sidebar.html"]
                          | Totam Rem Aperiam Ea queab Ipsa.
                      p
                        i.fa.fa-calendar[aria-hidden="true"]
                        | 5 March, 2016
      #footer.copyRight.clearfix
        .container
          .row
            .col-sm-7.col-xs-12
              p
                | © 2016-
                = Time.now.year
                |  Copyright Potepan Store .
            .col-sm-5.col-xs-12
              ul.list-inline
                li
                  a[href="#"]
                    i.fa.fa-twitter
                li
                  a[href="#"]
                    i.fa.fa-facebook
    #login.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | log in
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="login-email"]
                  | Enter Email
                input#login-email.form-control[type="email"]
              .form-group
                label[for="login-password"]
                  | Password
                input#login-password.form-control[type="password"]
              .checkbox
                label
                  input[type="checkbox"]
                  |  Remember Me 
              button.btn.btn-primary.btn-block[type="submit"]
                | log in
              button.btn.btn-link.btn-block[type="button"]
                | Forgot Password?
    #signup.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | Create an account
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="signup-email"]
                  | Enter Email
                input#signup-email.form-control[type="email"]
              .form-group
                label[for="signup-password"]
                  | Password
                input#signup-password.form-control[type="password"]
              .form-group
                label[for="signup-password-confirmation"]
                  | Confirm Password
                input#signup-password-confirmation.form-control[type="password"]
              button.btn.btn-primary.btn-block[type="submit"]
                | Sign up
