doctype html
html[lang="en"]
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    title
      | Product Grid Sidebar Left - BIGBAG Store
    = stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all"
  body
    .main-wrapper
      .header.clearfix
        .topBar
          .container
            .row
              .col-md-6.hidden-sm.hidden-xs
                ul.list-inline
                  li
                    a[href="#"]
                      i.fa.fa-twitter
                  li
                    a[href="#"]
                      i.fa.fa-facebook
              .col-md-6.col-xs-12
                ul.list-inline.pull-right
                  li

                  li.dropdown.searchBox
                    a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown"]
                      i.fa.fa-search
                    ul.dropdown-menu.dropdown-menu-right

                    form#form01[action="product-grid-left-sidebar.html" method="post"]

                  li
                    span.input-group
                      input.form-control[type="text" name="searchWord" placeholder="Search…" aria-describedby="basic-addon2"]
                      span#basic-addon2.input-group-addon.addPointer[onclick="FormSubmit();"]
                        | 検索
                li.dropdown
                  a.dropdown-toggle[href="cart-page.html" data-toggle="dropdown disabled"]
                    i.fa.fa-shopping-cart
        nav.navbar.navbar-main.navbar-default[role="navigation"]
          .container
            .navbar-header
              button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"]
                span.sr-only
                  | Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand[href="index.html"]
                = image_tag("img/logo.png", :alt => "")
            .collapse.navbar-collapse.navbar-ex1-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a[href="index.html"]
                    | Home
                li.dropdown.megaDropMenu.active
                  a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false"]
                    | Shop
                  ul.dropdown-menu.row
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Products Grid View
                        li.active
                          a[href="product_grid_left_sidebar.html"]
                            | Products Sidebar Left
                        li
                          a[href="product-grid-right-sidebar.html"]
                            | Products Sidebar Right
                        li
                          a[href="product-grid-3-col-filter.html"]
                            | Products 3 Columns V1
                        li
                          a[href="product-grid-3-col.html"]
                            | Products 3 Columns V2
                        li
                          a[href="product-grid-4-col.html"]
                            | Products 4 Columns
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Products List View
                        li
                          a[href="product_list_left_sidebar.html"]
                            | Products Sidebar Left
                        li
                          a[href="product-list-right-sidebar.html"]
                            | Products Sidebar Right
                        li.listHeading
                          | Others
                        li
                          a[href="single_product.html"]
                            | Single Product
                        li
                          a[href="cart_page.html"]
                            | Cart Page
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Checkout
                        li
                          a[href="checkout_step_1.html"]
                            | Step 1 - Address
                        li
                          a[href="checkout_step_2.html"]
                            | Step 2 - Shipping
                        li
                          a[href="checkout_step_3.html"]
                            | Step 3 - Payment
                        li
                          a[href="checkout_step_4.html"]
                            | Step 4 - Payment
                        li
                          a[href="checkout_complete.html"]
                            | Order Complete
                    li.col-sm-3.col-xs-12
                      a.menu-photo[href="#"]
                        = image_tag("img/menu-photo.jpg", :alt => "menu-img")
      section.lightSection.clearfix.pageHeader
        .container
          .row
            .col-xs-6
              .page-title
                h2
                  | Category name
            .col-xs-6
              ol.breadcrumb.pull-right
                li
                  a[href="index.html"]
                    | Home
                li
                  a[href="#"]
                    | shop
                li.active
                  | Category name
      section.mainContent.clearfix.productsContent
        .container
          .row
            .col-md-3.col-sm-4.col-xs-12.sideBar
              .panel.panel-default
                .panel-heading
                  | 商品カテゴリー
                .panel-body
                  .collapse.navbar-collapse.navbar-ex1-collapse.navbar-side-collapse
                    ul.nav.navbar-nav.side-nav
                      li
                        a[href="javascript:;" data-toggle="collapse" data-target="#women"]
                          | レディース
                          i.fa.fa-plus
                        ul#women.collapse.collapseItem
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | トップス 
                              span
                                | (6)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | アウター 
                              span
                                | (6)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | ボトムス 
                              span
                                | (25)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | 靴 
                              span
                                | (2)
                      li
                        a[href="javascript:;" data-toggle="collapse" data-target="#men"]
                          | メンズ
                          i.fa.fa-plus
                        ul#men.collapse.collapseItem
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | トップス 
                              span
                                | (6)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | アウター 
                              span
                                | (6)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | ボトムス 
                              span
                                | (25)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | 靴 
                              span
                                | (2)
                      li
                        a[href="javascript:;" data-toggle="collapse" data-target="#kids"]
                          | キッズ
                          i.fa.fa-plus
                        ul#kids.collapse.collapseItem
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | トップス 
                              span
                                | (6)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | アウター 
                              span
                                | (6)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | ボトムス 
                              span
                                | (25)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | 靴 
                              span
                                | (2)
                      li
                        a[href="javascript:;" data-toggle="collapse" data-target="#accessories"]
                          | アクセサリー
                          i.fa.fa-plus
                        ul#accessories.collapse.collapseItem
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | モバイルケース・アクセサリー 
                              span
                                | (6)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | 財布・革小物 
                              span
                                | (6)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | 腕時計 
                              span
                                | (25)
                          li
                            a[href="#"]
                              i.fa.fa-caret-right[aria-hidden="true"]
                              | 帽子 
                              span
                                | (2)
              .panel.panel-default.filterNormal
                .panel-heading
                  | 色から探す
                .panel-body
                  ul.list-unstyled
                    li
                      a[href="#"]
                        | ブラック
                        span
                          | (15)
                    li
                      a[href="#"]
                        | ホワイト
                        span
                          | (10)
                    li
                      a[href="#"]
                        | レッド
                        span
                          | (7)
                    li
                      a[href="#"]
                        | ブルー
                        span
                          | (12)
                    li
                      a[href="#"]
                        | オレンジ
                        span
                          | (12)
              .panel.panel-default.filterNormal
                .panel-heading
                  | サイズから探す
                .panel-body
                  ul.list-unstyled.clearfix
                    li
                      a[href="#"]
                        | S
                        span
                          | (15)
                    li
                      a[href="#"]
                        | M
                        span
                          | (10)
                    li
                      a[href="#"]
                        | L
                        span
                          | (7)
                    li
                      a[href="#"]
                        | XL
                        span
                          | (12)
            .col-md-9.col-sm-8.col-xs-12
              .row.filterArea
                .col-xs-6
                  select#guiest_id1.select-drop[name="guiest_id1"]
                    option[value="0"]
                      | 並び替え
                    option[value="1"]
                      | 人気順
                    option[value="2"]
                      | 安い順
                    option[value="3"]
                      | 新着順
                    option[value="3"]
                      | 高い順
                .col-xs-6
                  .btn-group.pull-right[role="group"]
                    button.btn.btn-default.active[type="button" onclick="window.location.href='product_grid_left_sidebar.html'"]
                      i.fa.fa-th[aria-hidden="true"]
                      span
                        | Grid
                    button.btn.btn-default[type="button" onclick="window.location.href='product_list_left_sidebar.html'"]
                      i.fa.fa-th-list[aria-hidden="true"]
                      span
                        | List
              .row
                .col-sm-4.col-xs-12
                  .productBox
                    .productImage.clearfix
                      = image_tag("img/products/products-01.jpg", :alt => "products-img")
                    .productCaption.clearfix
                      a[href="single_product.html"]

                      h5
                        | Nike Sportswear
                      h3
                        | 199円
                .col-sm-4.col-xs-12
                  .productBox
                    .productImage.clearfix
                      = image_tag("img/products/products-02.jpg", :alt => "products-img")
                    .productCaption.clearfix
                      a[href="single_product.html"]

                      h5
                        | Dip Dyed Sweater
                      h3
                        | 249円
                .col-sm-4.col-xs-12
                  .productBox
                    .productImage.clearfix
                      = image_tag("img/products/products-03.jpg", :alt => "products-img")
                    .productCaption.clearfix
                      a[href="single_product.html"]

                      h5
                        | Scarf Ring Corner
                      h3
                        | 179円
                .col-sm-4.col-xs-12
                  .productBox
                    .productImage.clearfix
                      = image_tag("img/products/products-04.jpg", :alt => "products-img")
                    .productCaption.clearfix
                      a[href="single_product.html"]

                      h5
                        | Sun Buddies
                      h3
                        | 149円
                .col-sm-4.col-xs-12
                  .productBox
                    .productImage.clearfix
                      = image_tag("img/products/products-05.jpg", :alt => "products-img")
                    .productCaption.clearfix
                      a[href="single_product.html"]

                      h5
                        | Nike Sportswear
                      h3
                        | 199円
                .col-sm-4.col-xs-12
                  .productBox
                    .productImage.clearfix
                      = image_tag("img/products/products-06.jpg", :alt => "products-img")
                    .productCaption.clearfix
                      a[href="single_product.html"]

                      h5
                        | Dip Dyed Sweater
                      h3
                        | 249円
                .col-sm-4.col-xs-12
                  .productBox
                    .productImage.clearfix
                      = image_tag("img/products/products-07.jpg", :alt => "products-img")
                    .productCaption.clearfix
                      a[href="single_product.html"]

                      h5
                        | Scarf Ring Corner
                      h3
                        | 179円
                .col-sm-4.col-xs-12
                  .productBox
                    .productImage.clearfix
                      = image_tag("img/products/products-08.jpg", :alt => "products-img")
                    .productCaption.clearfix
                      a[href="single_product.html"]

                      h5
                        | Sun Buddies
                      h3
                        | 149円
                .col-sm-4.col-xs-12
                  .productBox
                    .productImage.clearfix
                      = image_tag("img/products/products-09.jpg", :alt => "products-img")
                    .productCaption.clearfix
                      a[href="single_product.html"]

                      h5
                        | Nike Sportswear
                      h3
                        | 199円
                .col-sm-4.col-xs-12
                  .productBox
                    .productImage.clearfix
                      = image_tag("img/products/products-10.jpg", :alt => "products-img")
                    .productCaption.clearfix
                      a[href="single_product.html"]

                      h5
                        | Dip Dyed Sweater
                      h3
                        | 249円
                .col-sm-4.col-xs-12
                  .productBox
                    .productImage.clearfix
                      = image_tag("img/products/products-11.jpg", :alt => "products-img")
                    .productCaption.clearfix
                      a[href="single_product.html"]

                      h5
                        | Scarf Ring Corner
                      h3
                        | 179円
                .col-sm-4.col-xs-12
                  .productBox
                    .productImage.clearfix
                      = image_tag("img/products/products-12.jpg", :alt => "products-img")
                    .productCaption.clearfix
                      a[href="single_product.html"]

                      h5
                        | Sun Buddies
                      h3
                        | 149円
      section.lightSection.clearfix
        .container
          .row
            .col-xs-12
              .owl-carousel.partnersLogoSlider
                .slide
                  .partnersLogo.clearfix
                    = image_tag("img/home/partners/partner-01.png", :alt => "partner-img")
                .slide
                  .partnersLogo.clearfix
                    = image_tag("img/home/partners/partner-02.png", :alt => "partner-img")
                .slide
                  .partnersLogo.clearfix
                    = image_tag("img/home/partners/partner-03.png", :alt => "partner-img")
                .slide
                  .partnersLogo.clearfix
                    = image_tag("img/home/partners/partner-04.png", :alt => "partner-img")
                .slide
                  .partnersLogo.clearfix
                    = image_tag("img/home/partners/partner-05.png", :alt => "partner-img")
                .slide
                  .partnersLogo.clearfix
                    = image_tag("img/home/partners/partner-01.png", :alt => "partner-img")
                .slide
                  .partnersLogo.clearfix
                    = image_tag("img/home/partners/partner-02.png", :alt => "partner-img")
                .slide
                  .partnersLogo.clearfix
                    = image_tag("img/home/partners/partner-03.png", :alt => "partner-img")
      #footer.copyRight.clearfix
        .container
          .row
            .col-sm-7.col-xs-12
              p
                | © 2016-
                = Time.now.year
                |  Copyright Potepan Store .
            .col-sm-5.col-xs-12
              ul.list-inline
                li
                  a[href="#"]
                    i.fa.fa-twitter
                li
                  a[href="#"]
                    i.fa.fa-facebook
    #login.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | log in
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="login-email"]
                  | Enter Email
                input#login-email.form-control[type="email"]
              .form-group
                label[for="login-password"]
                  | Password
                input#login-password.form-control[type="password"]
              .checkbox
                label
                  input[type="checkbox"]
                  |  Remember Me 
              button.btn.btn-primary.btn-block[type="submit"]
                | log in
              button.btn.btn-link.btn-block[type="button"]
                | Forgot Password?
    #signup.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | Create an account
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="signup-email"]
                  | Enter Email
                input#signup-email.form-control[type="email"]
              .form-group
                label[for="signup-password"]
                  | Password
                input#signup-password.form-control[type="password"]
              .form-group
                label[for="signup-password-confirmation"]
                  | Confirm Password
                input#signup-password-confirmation.form-control[type="password"]
              button.btn.btn-primary.btn-block[type="submit"]
                | Sign up
