doctype html
html[lang="en"]
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    title
      | Single Product - BIGBAG Store
    = stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all"
  body
    .main-wrapper
      .header.clearfix
        .topBar
          .container
            .row
              .col-md-6.hidden-sm.hidden-xs
                ul.list-inline
                  li
                    a[href="#"]
                      i.fa.fa-twitter
                  li
                    a[href="#"]
                      i.fa.fa-facebook
              .col-md-6.col-xs-12
                ul.list-inline.pull-right
                  li

                  li.dropdown.searchBox
                    a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown"]
                      i.fa.fa-search
                    ul.dropdown-menu.dropdown-menu-right

                    form#form01[action="product-grid-left-sidebar.html" method="post"]

                  li
                    span.input-group
                      input.form-control[type="text" name="searchWord" placeholder="Search…" aria-describedby="basic-addon2"]
                      span#basic-addon2.input-group-addon.addPointer[onclick="FormSubmit();"]
                        | 検索
                li.dropdown
                  a.dropdown-toggle[href="cart-page.html" data-toggle="dropdown disabled"]
                    i.fa.fa-shopping-cart
        nav.navbar.navbar-main.navbar-default[role="navigation"]
          .container
            .navbar-header
              button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"]
                span.sr-only
                  | Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand[href="index.html"]
                = image_tag("img/logo.png", :alt => "")
            .collapse.navbar-collapse.navbar-ex1-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a[href="index.html"]
                    | Home
                li.dropdown.megaDropMenu.active
                  a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false"]
                    | Shop
      section.lightSection.clearfix.pageHeader
        .container
          .row
            .col-xs-6
              .page-title
                h2
                  | Single Product
            .col-xs-6
              ol.breadcrumb.pull-right
                li
                  a[href="index.html"]
                    | Home
                li.active
                  | Single Product
      section.mainContent.clearfix
        .container
          .row.singleProduct
            .col-xs-12
              .media
                .media-left.productSlider
                  #carousel.carousel.slide[data-ride="carousel"]
                    .carousel-inner
                      .item.active[data-thumb="0"]
                        = image_tag("img/products/signle-product/product-slide-big-01.jpg")
                      .item[data-thumb="1"]
                        = image_tag("img/products/signle-product/product-slide-big-02.jpg")
                      .item[data-thumb="2"]
                        = image_tag("img/products/signle-product/product-slide-big-03.jpg")
                      .item[data-thumb="3"]
                        = image_tag("img/products/signle-product/product-slide-big-04.jpg")
                  .clearfix
                    #thumbcarousel.carousel.slide[data-interval="false"]
                      .carousel-inner
                        .thumb[data-target="#carousel" data-slide-to="0"]
                          = image_tag("img/products/signle-product/product-slide-small-01.jpg")
                        .thumb[data-target="#carousel" data-slide-to="1"]
                          = image_tag("img/products/signle-product/product-slide-small-02.jpg")
                        .thumb[data-target="#carousel" data-slide-to="2"]
                          = image_tag("img/products/signle-product/product-slide-small-03.jpg")
                        .thumb[data-target="#carousel" data-slide-to="3"]
                          = image_tag("img/products/signle-product/product-slide-small-04.jpg")
                      a.left.carousel-control[href="#thumbcarousel" role="button" data-slide="prev"]
                        span.glyphicon.glyphicon-chevron-left
                      a.right.carousel-control[href="#thumbcarousel" role="button" data-slide="next"]
                        span.glyphicon.glyphicon-chevron-right
                .media-body
                  ul.list-inline
                    li
                      a[href="product_grid_left_sidebar.html"]
                        i.fa.fa-reply[aria-hidden="true"]
                        | 一覧ページへ戻る
                  h2
                    | Pellentesque non risus quis tellus
                  h3
                    | 149円
                  p
                    | Mauris lobortis augue ex, ut faucibus nisi mollis ac. Sed volutpat scelerisque ex ut ullamcorper. Cras at velit quis sapien dapibus laoreet a id odio. Sed sit amet accumsan ante, eu congue metus. Aenean eros tortor, cursus quis feugiat sed, vestibulum vel purus. Etiam aliquam turpis quis blandit finibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor placerat lectus, facilisis ornare leo tincidunt vel. Duis rutrum felis felis, eget malesuada massa tincidunt a.
                  span.quick-drop
                    select#guiest_id3.select-drop[name="guiest_id3"]
                      option[value="0"]
                        | S
                      option[value="1"]
                        | M
                      option[value="2"]
                        | L
                      option[value="3"]
                        | XL
                  span.quick-drop.resizeWidth
                    select#guiest_id4.select-drop[name="guiest_id4"]
                      option[value="1"]
                        | 1
                      option[value="2"]
                        | 2
                      option[value="3"]
                        | 3
                  .btn-area
                    a.btn.btn-primary.btn-block[href="cart_page.html"]
                      | カートへ入れる
                      i.fa.fa-angle-right[aria-hidden="true"]
          .row.productsContent
            .col-xs-12
              .page-header
                h4
                  | 関連商品
            .col-md-3.col-sm-6.col-xs-12
              .productBox
                .productImage.clearfix
                  = image_tag("img/products/products-01.jpg", :alt => "products-img")
                .productCaption.clearfix
                  h5
                    | Nike Sportswear
                  h3
                    | 199円
            .col-md-3.col-sm-6.col-xs-12
              .productBox
                .productImage.clearfix
                  = image_tag("img/products/products-02.jpg", :alt => "products-img")
                .productCaption.clearfix
                  h5
                    | Dip Dyed Sweater
                  h3
                    | 249円
            .col-md-3.col-sm-6.col-xs-12
              .productBox
                .productImage.clearfix
                  = image_tag("img/products/products-03.jpg", :alt => "products-img")
                .productCaption.clearfix
                  h5
                    | Scarf Ring Corner
                  h3
                    | 179円
            .col-md-3.col-sm-6.col-xs-12
              .productBox
                .productImage.clearfix
                  = image_tag("img/products/products-04.jpg", :alt => "products-img")
                .productCaption.clearfix
                  h5
                    | Sun Buddies
                  h3
                    | 149円
      #footer.copyRight.clearfix
        .container
          .row
            .col-sm-7.col-xs-12
              p
                | © 2016-
                = Time.now.year
                |  Copyright Potepan Store .
            .col-sm-5.col-xs-12
              ul.list-inline
                li
                  a[href="#"]
                    i.fa.fa-twitter
                li
                  a[href="#"]
                    i.fa.fa-facebook
    #login.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | log in
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="login-email"]
                  | Enter Email
                input#login-email.form-control[type="email"]
              .form-group
                label[for="login-password"]
                  | Password
                input#login-password.form-control[type="password"]
              .checkbox
                label
                  input[type="checkbox"]
                  |  Remember Me 
              button.btn.btn-primary.btn-block[type="submit"]
                | log in
              button.btn.btn-link.btn-block[type="button"]
                | Forgot Password?
    #signup.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | Create an account
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="signup-email"]
                  | Enter Email
                input#signup-email.form-control[type="email"]
              .form-group
                label[for="signup-password"]
                  | Password
                input#signup-password.form-control[type="password"]
              .form-group
                label[for="signup-password-confirmation"]
                  | Confirm Password
                input#signup-password-confirmation.form-control[type="password"]
              button.btn.btn-primary.btn-block[type="submit"]
                | Sign up
