doctype html
html[lang="en"]
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    title
      | Terms & Conditions - BIGBAG Store
    = stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all"
  body
    .main-wrapper
      .header.clearfix
        .topBar
          .container
            .row
              .col-md-6.hidden-sm.hidden-xs
                ul.list-inline
                  li
                    a[href="#"]
                      i.fa.fa-twitter
                  li
                    a[href="#"]
                      i.fa.fa-facebook
              .col-md-6.col-xs-12
                ul.list-inline.pull-right
                  li

                  li.dropdown.searchBox
                    a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown"]
                      i.fa.fa-search
                    ul.dropdown-menu.dropdown-menu-right

                    form#form01[action="product-grid-left-sidebar.html" method="post"]

                  li
                    span.input-group
                      input.form-control[type="text" name="searchWord" placeholder="Search…" aria-describedby="basic-addon2"]
                      span#basic-addon2.input-group-addon.addPointer[onclick="FormSubmit();"]
                        | 検索
                li.dropdown
                  a.dropdown-toggle[href="cart-page.html" data-toggle="dropdown disabled"]
                    i.fa.fa-shopping-cart
        nav.navbar.navbar-main.navbar-default[role="navigation"]
          .container
            .navbar-header
              button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"]
                span.sr-only
                  | Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand[href="index.html"]
                = image_tag("img/logo.png", :alt => "")
            .collapse.navbar-collapse.navbar-ex1-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a[href="index.html"]
                    | Home
                li.dropdown.megaDropMenu
                  a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false"]
                    | Shop
                  ul.dropdown-menu.row
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Products Grid View
                        li
                          a[href="product_grid_left_sidebar.html"]
                            | Products Sidebar Left
                        li
                          a[href="product-grid-right-sidebar.html"]
                            | Products Sidebar Right
                        li
                          a[href="product-grid-3-col-filter.html"]
                            | Products 3 Columns V1
                        li
                          a[href="product-grid-3-col.html"]
                            | Products 3 Columns V2
                        li
                          a[href="product-grid-4-col.html"]
                            | Products 4 Columns
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Products List View
                        li
                          a[href="product_list_left_sidebar.html"]
                            | Products Sidebar Left
                        li
                          a[href="product-list-right-sidebar.html"]
                            | Products Sidebar Right
                        li.listHeading
                          | Others
                        li
                          a[href="single_product.html"]
                            | Single Product
                        li
                          a[href="cart_page.html"]
                            | Cart Page
                    li.col-sm-3.col-xs-12
                      ul.list-unstyled
                        li
                          | Checkout
                        li
                          a[href="checkout_step_1.html"]
                            | Step 1 - Address
                        li
                          a[href="checkout_step_2.html"]
                            | Step 2 - Shipping
                        li
                          a[href="checkout_step_3.html"]
                            | Step 3 - Payment
                        li
                          a[href="checkout_step_4.html"]
                            | Step 4 - Payment
                        li
                          a[href="checkout_complete.html"]
                            | Order Complete
                    li.col-sm-3.col-xs-12
                      a.menu-photo[href="#"]
                        = image_tag("img/menu-photo.jpg", :alt => "menu-img")
      section.lightSection.clearfix.pageHeader
        .container
          .row
            .col-xs-6
              .page-title
                h2
                  | 特定商取引法に関する表記
            .col-xs-6
              ol.breadcrumb.pull-right
                li
                  a[href="index.html"]
                    | Home
                li.active
                  | 特定商取引法に関する表記
      section.mainContent.clearfix.genricContent
        .container
          .row
            .col-xs-12
              h3
                | 特定商取引法に関する表記
              table.tablepress
                tbody.row-hover
                  tr.row-1.odd
                    td.column-1
                      | 販売業者名
                    td.column-2
                      | ○○株式会社
                  tr.row-2.even
                    td.column-1
                      | 代表責任者名
                    td.column-2
                      | 甲野太郎
                  tr.row-3.odd
                    td.column-1
                      | 所在地
                    td.column-2
                      | 〒○○○―○○○○
                      br
                      |  東京都○○区○○　○丁目○番○号
                  tr.row-4.even
                    td.column-1
                      | 電話番号
                    td.column-2
                      | ０３－○○○○―○○○○
                  tr.row-5.odd
                    td.column-1
                      | 電話受付時間
                    td.column-2
                      | ９：００～１８：００
                  tr.row-6.even
                    td.column-1
                      | メールアドレス
                    td.column-2
                      | ******@*****.co.jp
                  tr.row-7.odd
                    td.column-1
                      | ホームページURL
                    td.column-2
                      | http://www.*******.co.jp
                  tr.row-8.even
                    td.column-1
                      | 販売価格
                    td.column-2
                      | 各商品ページをご参照ください。
                  tr.row-9.odd
                    td.column-1
                      | 商品代金以外の必要料金
                    td.column-2
                      | 消費税
                      br
                      |  送料（全国一律６３０円。商品５，０００円以上の購入で送料無料。）
                      br
                      |  振込の場合、振込手数料、コンビニ決済の場合、コンビニ決済手数料
                  tr.row-10.even
                    td.column-1
                      | お届け時期
                    td.column-2
                      | 入金確認後、直ちに商品を発送いたします。
                  tr.row-11.odd
                    td.column-1
                      | お支払方法
                    td.column-2
                      | 銀行振込、クレジットカード、コンビニ決済
                  tr.row-12.even
                    td.column-1
                      | お申込みの有効期限
                    td.column-2
                      | ７日以内にお願いいたします。
                      br
                      |  ７日間入金がない場合は、キャンセルとさせていただきます。
                  tr.row-13.odd
                    td.column-1
                      | 返品・交換・キャンセル等
                    td.column-2
                      | 商品発送後の返品・返却等はお受けいたしかねます。
                      br
                      |  商品が不良の場合のみ交換いたします。キャンセルは注文後２４時間以内に限り受付いたします。
                      br
                      |  コンビニ決済を利用された場合、コンビニ店頭での返金はいたしません。
                  tr.row-14.even
                    td.column-1
                      | 返品期限
                    td.column-2
                      | 商品出荷より７日以内にご連絡下さい。
                  tr.row-15.odd
                    td.column-1
                      | 返品送料
                    td.column-2
                      | 不良品の場合は弊社が負担いたします。
                      br
                      |  それ以外はお客様のご負担となります。
      #footer.copyRight.clearfix
        .container
          .row
            .col-sm-7.col-xs-12
              p
                | © 2016-
                = Time.now.year
                |  Copyright Potepan Store .
            .col-sm-5.col-xs-12
              ul.list-inline
                li
                  a[href="#"]
                    i.fa.fa-twitter
                li
                  a[href="#"]
                    i.fa.fa-facebook
    #login.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | log in
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="login-email"]
                  | Enter Email
                input#login-email.form-control[type="email"]
              .form-group
                label[for="login-password"]
                  | Password
                input#login-password.form-control[type="password"]
              .checkbox
                label
                  input[type="checkbox"]
                  |  Remember Me 
              button.btn.btn-primary.btn-block[type="submit"]
                | log in
              button.btn.btn-link.btn-block[type="button"]
                | Forgot Password?
    #signup.modal.fade[tabindex="-1" role="dialog"]
      .modal-dialog
        .modal-content
          .modal-header
            button.close[type="button" data-dismiss="modal" aria-hidden="true"]
              | ×
            h3.modal-title
              | Create an account
          .modal-body
            form[action="" method="POST" role="form"]
              .form-group
                label[for="signup-email"]
                  | Enter Email
                input#signup-email.form-control[type="email"]
              .form-group
                label[for="signup-password"]
                  | Password
                input#signup-password.form-control[type="password"]
              .form-group
                label[for="signup-password-confirmation"]
                  | Confirm Password
                input#signup-password-confirmation.form-control[type="password"]
              button.btn.btn-primary.btn-block[type="submit"]
                | Sign up
