.panel.panel-default
  .panel-heading
    | 商品カテゴリー
  .panel-body
    .collapse.navbar-collapse.navbar-ex1-collapse.navbar-side-collapse
      ul.nav.navbar-nav.side-nav
        - taxon_roots.each do |root|
          li
            a[href="javascript:;" data-toggle="collapse" data-target="#taxon_root_#{root.id}"]
              = root.name
              i.fa.fa-plus
            ul.collapse.collapseItem id=("taxon_root_#{root.id}")
              - root.leaves.each do |leaf|                        
                li
                  = link_to potepan_category_path(leaf.id)
                    i.fa.fa-caret-right[aria-hidden="true"]
                    = leaf.name
                    span
                      = "(#{leaf.products.count})"