.panel.panel-default.filterNormal
  .panel-heading
    | 色から探す
  .panel-body
    ul.list-unstyled
      li
        a[href="#"]
          | ブラック
          span
            | (15)
      li
        a[href="#"]
          | ホワイト
          span
            | (10)
      li
        a[href="#"]
          | レッド
          span
            | (7)
      li
        a[href="#"]
          | ブルー
          span
            | (12)
      li
        a[href="#"]
          | オレンジ
          span
            | (12)