.row.filterArea
  .col-xs-6
    select#guiest_id1.select-drop[name="guiest_id1"]
      option[value="0"]
        | 並び替え
      option[value="1"]
        | 人気順
      option[value="2"]
        | 安い順
      option[value="3"]
        | 新着順
      option[value="3"]
        | 高い順
  .col-xs-6
    .btn-group.pull-right[role="group"]
      button.btn.btn-default.active[type="button" onclick="window.location.href='product_grid_left_sidebar.html'"]
        i.fa.fa-th[aria-hidden="true"]
        span
          | Grid
      button.btn.btn-default[type="button" onclick="window.location.href='product_list_left_sidebar.html'"]
        i.fa.fa-th-list[aria-hidden="true"]
        span
          | List