.owl-carousel.partnersLogoSlider
  .slide
    .partnersLogo.clearfix
      = image_tag("img/home/partners/partner-01.png", :alt => "partner-img")
  .slide
    .partnersLogo.clearfix
      = image_tag("img/home/partners/partner-02.png", :alt => "partner-img")
  .slide
    .partnersLogo.clearfix
      = image_tag("img/home/partners/partner-03.png", :alt => "partner-img")
  .slide
    .partnersLogo.clearfix
      = image_tag("img/home/partners/partner-04.png", :alt => "partner-img")
  .slide
    .partnersLogo.clearfix
      = image_tag("img/home/partners/partner-05.png", :alt => "partner-img")
  .slide
    .partnersLogo.clearfix
      = image_tag("img/home/partners/partner-01.png", :alt => "partner-img")
  .slide
    .partnersLogo.clearfix
      = image_tag("img/home/partners/partner-02.png", :alt => "partner-img")
  .slide
    .partnersLogo.clearfix
      = image_tag("img/home/partners/partner-03.png", :alt => "partner-img")