.panel.panel-default.filterNormal
  .panel-heading
    | サイズから探す
  .panel-body
    ul.list-unstyled.clearfix
      li
        a[href="#"]
          | S
          span
            | (15)
      li
        a[href="#"]
          | M
          span
            | (10)
      li
        a[href="#"]
          | L
          span
            | (7)
      li
        a[href="#"]
          | XL
          span
            | (12)