- provide(:title, @taxon.name)
= render 'layouts/page_header', title_name: @taxon.name
/ MAIN CONTENT SECTION
section.mainContent.clearfix.productsContent
  .container
    .row
      .col-md-3.col-sm-4.col-xs-12.sideBar
        = render 'sidebar', taxon_roots: @taxon_roots
      .col-md-9.col-sm-8.col-xs-12
        = render 'filter_area'
        .row
          - @taxon_all_products.each do |product|
            .col-sm-4.col-xs-12
              .productBox
                = link_to potepan_product_path(product.id)
                  .productImage.clearfix
                    = product_image(product)
                  .productCaption.clearfix
                    h5= product.name
                    h3= product.display_price.to_s
/ LIGHT SECTION
section.lightSection.clearfix
  .container
    .row
      .col-xs-12
        = render 'partners_logo_slider'