- if variant.product.taxons.present?
  = link_to potepan_category_path(variant.product.taxons.first.id)
    | 一覧ページへ戻る
    i.fa.fa-reply[aria-hidden="true"]
- elsif default_taxon_id.present?
  = link_to potepan_category_path(default_taxon_id)
    | 一覧ページへ戻る
    i.fa.fa-reply[aria-hidden="true"]
- else
  = link_to potepan_index_path
    | トップページへ戻る
    i.fa.fa-reply[aria-hidden="true"]