.row.productsContent
  .col-xs-12
    .page-header
      h4
        | 関連商品
  - related_products.each do |product|
    .col-md-3.col-sm-6.col-xs-12
      .productBox
        = link_to potepan_product_path(product.id)
          .productImage.clearfix
            = product_image(product)
          .productCaption.clearfix
            h5= product.name
            h3= product.display_price