- provide(:title, @variant.name)
= render 'layouts/page_header', title_name: @variant.name
section.mainContent.clearfix
  .container
    .row.singleProduct
      .col-xs-12
        .media
          .media-left.productSlider
            #carousel.carousel.slide[data-ride="carousel"]
              .carousel-inner
                - @variant.gallery.images.each_with_index do |image, i|
                  .item class=('active' if i.zero?) data-thumb="#{i}"
                    = image_tag(image.attachment(:large))
            .clearfix
              #thumbcarousel.carousel.slide[data-interval="false"]
                .carousel-inner
                  - @variant.gallery.images.each_with_index do |image, i|
                    .thumb[data-target="#carousel" data-slide-to="#{i}"]
                      = image_tag(image.attachment(:small))
                a.left.carousel-control[href="#thumbcarousel" role="button" data-slide="prev"]
                  span.glyphicon.glyphicon-chevron-left
                a.right.carousel-control[href="#thumbcarousel" role="button" data-slide="next"]
                  span.glyphicon.glyphicon-chevron-right
          .media-body
            ul.list-inline
              li
                = render 'link_to_categories', variant: @variant, default_taxon_id: @default_taxon_id
            h2= @variant.name
            h3= @variant.display_price
            p= @variant.description
            span.quick-drop
              select#guiest_id3.select-drop[name="guiest_id3"]
                option[value="0"]
                  | S
                option[value="1"]
                  | M
                option[value="2"]
                  | L
                option[value="3"]
                  | XL
            span.quick-drop.resizeWidth
              select#guiest_id4.select-drop[name="guiest_id4"]
                option[value="1"]
                  | 1
                option[value="2"]
                  | 2
                option[value="3"]
                  | 3
            .btn-area
              a.btn.btn-primary.btn-block[href="cart_page.html"]
                | カートへ入れる
                i.fa.fa-angle-right[aria-hidden="true"]
    = render 'related_products', related_products: @related_products