/ FOOTER
/ COPY RIGHT
#footer.copyRight.clearfix
  .container
    .row
      .col-sm-7.col-xs-12
        p
          | © 2016-
          = Time.current.year
          |  Copyright Potepan Store .
      .col-sm-5.col-xs-12
        ul.list-inline
          li
            a[href="#"]
              i.fa.fa-twitter
          li
            a[href="#"]
              i.fa.fa-facebook