/ HEADER
.header.clearfix
  / TOPBAR
  .topBar
    .container
      .row
        .col-md-6.hidden-sm.hidden-xs
          ul.list-inline
            li
              a[href="#"]
                i.fa.fa-twitter
            li
              a[href="#"]
                i.fa.fa-facebook
        .col-md-6.col-xs-12
          ul.list-inline.pull-right
            li.dropdown.searchBox
              a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown"]
                i.fa.fa-search
              ul.dropdown-menu.dropdown-menu-right
                form#form01[action="product-grid-left-sidebar.html" method="post"]
                  li
                    span.input-group
                      input#search-form.form-control.get_suggest.ui-autocomplete-input aria-describedby="basic-addon2" autocomplete="off" name="searchWord" placeholder="Search…" type="text"
                      span#basic-addon2.input-group-addon.addPointer[onclick="FormSubmit();"]
                        | 検索
            li.dropdown
              a.dropdown-toggle[href="cart-page.html" data-toggle="dropdown disabled"]
                i.fa.fa-shopping-cart
  / NAVBAR
  nav.navbar.navbar-main.navbar-default[role="navigation"]
    .container
      .navbar-header
        button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"]
          span.sr-only
            | Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        = link_to  image_tag("logo.png"), potepan_index_path, class: "navbar-brand"
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav.navbar-right
          li.active
            a[href="javascript:void(0)"]
              | Home
          li.dropdown.megaDropMenu
            a.dropdown-toggle[href="javascript:void(0)" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false"]
              | Shop