/ LOGIN MODAL
#login.modal.fade.login-modal[tabindex="-1" role="dialog"]
  .modal-dialog
    .modal-content
      .modal-header
        button.close[type="button" data-dismiss="modal" aria-hidden="true"]
          | ×
        h3.modal-title
          | ログイン
      .modal-body
        form[action="login-" method="POST" role="form"]
          .form-group
            label[for="login-email"]
              | メールアドレス
            input#login-email.form-control[type="email"]
          .form-group
            label[for="login-password"]
              | パスワード
            input#login-password.form-control[type="password"]
          .checkbox
            label
              input[type="checkbox"]
              |  記憶しておく 
          button.btn.btn-primary.btn-block[type="submit"]
            | ログイン
          a.btn.btn-link.btn-block[href="lost-password.html"]
            | パスワードをお忘れの方