section.lightSection.clearfix.pageHeader
  .container
    .row
      .col-xs-6
        .page-title
          h2= title_name
      .col-xs-6
        ol.breadcrumb.pull-right
          li
            = link_to 'Home', potepan_index_path
          li
            a[href="#"]
              | shop
          li.active= title_name