/ PORDUCT QUICK VIEW MODAL
.modal.fade.quick-view[tabindex="-1" role="dialog"]
  .modal-dialog
    .modal-content
      .modal-body
        button.close[type="button" data-dismiss="modal" aria-hidden="true"]
          | ×
        .media
          .media-left
            = image_tag("products/quick-view/quick-view-01.jpg", :class => "media-object", :alt => "Image")
          .media-body
            h2
              | Old Skool Navy
            h3
              | 149円
            p
              | Classic sneaker from Vans. Cotton canvas and suede upper. Textile lining with heel stabilizer and ankle support. Contrasting laces. Sits on a classic waffle rubber sole.
            span.quick-drop
              select#guiest_id3.select-drop[name="guiest_id3"]
                option[value="0"]
                  | S
                option[value="1"]
                  | M
                option[value="2"]
                  | L
                option[value="3"]
                  | XL
            span.quick-drop.resizeWidth
              select#guiest_id4.select-drop[name="guiest_id4"]
                / option[value="0"]
                  | 数
                option[value="1"]
                  | 1
                option[value="2"]
                  | 2
                option[value="3"]
                  | 3
            .btn-area
              a.btn.btn-primary.btn-block[href="cart_page.html"]
                | カートへ入れる 
                i.fa.fa-angle-right[aria-hidden="true"]