/ SIGN UP MODAL
#signup.modal.fade[tabindex="-1" role="dialog"]
  .modal-dialog
    .modal-content
      .modal-header
        button.close[type="button" data-dismiss="modal" aria-hidden="true"]
          | ×
        h3.modal-title
          | 新規登録
      .modal-body
        form[action="" method="POST" role="form"]
          .form-group
            label[for="signup-email"]
              | メールアドレス
            input#signup-email.form-control[type="email"]
          .form-group
            label[for="signup-password"]
              | パスワード
            input#signup-password.form-control[type="password"]
          .form-group
            label[for="signup-password-confirmation"]
              | パスワード（確認用）
            input#signup-password-confirmation.form-control[type="password"]
          button.btn.btn-primary.btn-block[type="submit"]
            | 登録する